.footer{
    grid-area: footer;
}
.footer{
    background-color:  #001d27;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: auto;
 }
 .footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
 }
 .footer a:hover{
    text-decoration: underline;
 }
 